html, body {
  /* font color */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  background: #efefef;
}

header {
  background-color: black;
  color: white;
  height: 120px;

}

h1 {
  margin: 0px;
  padding: 10px;
  text-transform: uppercase;
  line-height: 2em;
}


td {
  text-align: center;
  vertical-align: top;
}

#logo {
  position: absolute;
  right: 10px;
  top: 10px;
}

#fileInput {
  padding: 15px;
  font-size: 1em;
}

button {
  color: white;
  font-size: 1em;
  font-weight:600;
  background-color: black;
  width: 100px;
  height: 36px;
  padding: 8px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-left: 100px;
  margin-right: 100px;
}

button:hover {
  background-color: #3a3a3a;
}

canvas {
  border: 1px solid black;
  margin: 15px;
  max-width: 100%;
}

.main {
  position: absolute;
  top: 120px;
  right: 20px;
}

#gui {
  overflow-x: visible;
}
