<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo %}
</head>

<body>

      <header>
        <div class="container">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>

          <section id="downloads">
            {% if site.show_downloads %}
              <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
              <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
            {% endif %}
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          </section>
        </div>
      </header>


  <div class="container">
    <section id="main_content">
      <h2>Assignment 1<br></h2>
      <h2 id="httpsdemomarpiplocean_desert">https://demo.marpi.pl/ocean_desert/</h2>

      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://demo.marpi.pl/ocean_desert/" src="https://demo.marpi.pl/ocean_desert/">
        </iframe>
      </div>

      <h2>Assignment 2<br></h2>
      <h2>XTK Cube Madness</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/02/index.html" src="https://dotcasek.github.io/cs460student/02/index.html">
        </iframe>
      </div>

      <h2>Assignment 3<br></h2>
      <h2>THREE.js Mesh INSANITY</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/03/index.html" src="https://dotcasek.github.io/cs460student/03/index.html">
        </iframe>
      </div>
           
      <h2>Assignment 4<br></h2>
      <h2>Vanilla WebGL Game</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/04/index.html" src="https://dotcasek.github.io/cs460student/04/index.html">
        </iframe>
      </div>
      
      <h2>Assignment 5<br></h2>
      <h2>Dat GUI and Multiple Frameworks</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/05/index.html" src="https://dotcasek.github.io/cs460student/05/index.html">
        </iframe>
      </div>
      
      <h2>Assignment 6<br></h2>
      <h2>Virtual Robot</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/06/index.html" src="https://dotcasek.github.io/cs460student/06/index.html">
        </iframe>
      </div>
      
      <h2>Assignment 7<br></h2>
      <h2>Virtual Robot ANIMATED</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/07/index.html" src="https://dotcasek.github.io/cs460student/07/index.html">
        </iframe>
      </div>
           
      <h2>Assignment 8<br></h2>
      <h2>Group collision and mesh</h2>
      <div class="iframe-container">
        <iframe style=" width: 50vw; height: 60vh;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" sandbox="allow-forms allow-scripts allow-popups allow-same-origin allow-pointer-lock"
          data-src="https://dotcasek.github.io/cs460student/08/index.html" src="https://dotcasek.github.io/cs460student/08/index.html">
        </iframe>
      </div>
      
    </section>
  </div>


</body>

</html>
